# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site setting
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Chaithanya Gunturi
email: chaithanyagvk@gmail.com
description: Chaithanya Gunturi Digital Resume
userprofile: userprofile.jpg
baseurl: "" # the subpath of your site, e.g. /blog
url: https://chaithanya-gunturi.github.io/resume/ # the base hostname & protocol for your site, e.g. http://example.com
designation: "Delivery Lead"
location: "Melbourne, Australia"
contact: "0451 501 032"
colour: "purple" #green, red, pink, purple, aqua, lime, amber, cyan, sand, yellow, orange, brown, grey, indigo
fontcolour: "indigo"
fontcolourmain: "black"
backgroundcolour: "beige"

# Google webmaster tools
google_verify: "Ck6CS3ia--jBA9EsAKRI_0t83Uu5JytwX4sL-FZTy4Q"

# https://ssl.bing.com/webmaster/configure/verify/ownership Option 2 content= goes here
bing_verify:

# Build settings
theme: minima
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
