<div class="w3-third">

    <div class="w3-white w3-text-{{site.fontcolour}} w3-card-4">
        <div class="w3-display-container w3-center">
            <img src="./img/{{ site.userprofile }}"  alt="Avatar">
            <div class="w3-display-bottomleft w3-container w3-text-{{site.fontcolourmain}}">
            </div>
            <h2>{{ site.title}}</h2>
            <hr>
        </div>
        <div class="w3-container" style="margin-top: 10px;">
            <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-{{ site.colour }}"></i>{{ site.designation}}</p>
            <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-{{ site.colour }}"></i>{{ site.location}}</p>
            <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-{{ site.colour }}"></i>{{ site.email}}</p>
            <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-{{ site.colour }}"></i>{{ site.contact}}</p>
            <hr>

            <!--
            <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-{{ site.colour }}"></i>Skills</b></p>
            {%- for skills in site.data.sitedata.skills -%}
            <p>{{ skills.title }}</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge w3-{{ site.colour }}" style="height:24px;width:{{ skills.percentage }}">{{ skills.percentage }}</div>
            </div>
            {% endfor %}
            <br>

            <p class="w3-large w3-text-theme"><b><i
                        class="fa fa-globe fa-fw w3-margin-right w3-text-{{ site.colour }}"></i>Languages</b></p>
            {%- for language in site.data.sitedata.languages -%}
            <p>{{ language.title }}</p>
            <div class="w3-light-grey w3-round-xlarge">
                <div class="w3-round-xlarge w3-{{ site.colour }}" style="height:24px;width:{{ language.percentage }}"></div>
            </div>
            {% endfor %}
            <br>
            -->
            <div class="certification">
                <h2 class="w3-text-{{site.fontcolour}} w3-padding-16"><i
                        class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-{{ site.colour }}"></i>Certifications</h2>
                {%- for certification in site.data.sitedata.certifications -%}
                <div class="w3-container">
                    {% if {{certification.url}}  %}
                    <a href={{certification.url}} target="_blank"><h5 class="w3-opacity w3-text-{{ site.fontcolour }}" style="text-transform: uppercase;"><b>{{ certification.title
                            }}</b></h5></a>
                    {% else %}
                        <h5 class="w3-opacity w3-text-{{ site.fontcolour }}" style="text-transform: uppercase;"><b>{{ certification.title
                                }}</b></h5>
                    {% endif %}
                    <h6 class="w3-text-{{ site.colour }}"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{ certification.date
                        }}</h6>
                </div>
                {% endfor %}
                <hr>

                <h2 class="w3-text-{{site.fontcolour}} w3-padding-16"><i
                        class="fa fa-bookmark fa-fw w3-margin-right w3-xxlarge w3-text-{{ site.colour }}"></i>Education</h2>
                {%- for education in site.data.sitedata.education -%}
                <div class="w3-container">
                    <a href={{education.url}} target="_blank"><h5 class="w3-opacity w3-text-{{ site.fontcolour }}" style="text-transform: uppercase;"><b>{{ education.title
                            }}</b></h5></a>
                    <h6 class="w3-text-{{ site.colour }}"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{ education.duration
                        }}</h6>
                    <p class="w3-text-{{ site.fontcolour }}">{{ education.degree }}</p>
                    <hr>
                </div>
                {% endfor %}
            </div>

        </div>
    </div><br>

    <!-- End Left Column -->
</div>
